<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>#DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Cst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApCst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApIst</string>
			</dict>
		</array>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>#Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>FixHeaders</key>
				<true/>
				<key>FixIDE</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT00.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					T1NJRA==
					</data>
					<key>Replace</key>
					<data>
					WFNJRA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI USB Test</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					RUMwXw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change H_EC to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					SF9FQw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01 USB Test</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02 USB Test</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change XHCI to XHC_ USB Test</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WEhDSQ==
					</data>
					<key>Replace</key>
					<data>
					WEhDXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change XHC1 to XHC_ USB Test</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					WEhDMQ==
					</data>
					<key>Replace</key>
					<data>
					WEhDXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change XHC1 to XH01 USB Test</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WEhDMQ==
					</data>
					<key>Replace</key>
					<data>
					WEgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #1 (Thinkpad)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					UENJMFZJRF8=
					</data>
					<key>Replace</key>
					<data>
					UENJMElHUFU=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #2 (Thinkpad)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					VklEXwhfQURSDAAAAgA=
					</data>
					<key>Replace</key>
					<data>
					SUdQVQhfQURSDAAAAgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q0A to XQ0A (ASUS N56VB Fn+F1 Disable Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1EwQQ==
					</data>
					<key>Replace</key>
					<data>
					WFEwQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q0E to XQ0E (ASUS N56VB Fn+F5 Brigth Down Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1EwRQ==
					</data>
					<key>Replace</key>
					<data>
					WFEwRQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q0F to XQ0F (ASUS N56VB Fn+F6 Brigth Up Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1EwRg==
					</data>
					<key>Replace</key>
					<data>
					WFEwRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q11 to XQ11 (ASUS N56VB Fn+F8 Video Mirror Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExMQ==
					</data>
					<key>Replace</key>
					<data>
					WFExMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q6C to XQ6C (ASUS N56VB Fn+Arrow Left Media Previous Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2Qw==
					</data>
					<key>Replace</key>
					<data>
					WFE2Qw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q6D to XQ6D (ASUS N56VB Fn+Arrow Right Media Next Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2RA==
					</data>
					<key>Replace</key>
					<data>
					WFE2RA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q6F to XQ6F (ASUS N56VB Fn+Arrow Down Media Play/Pause Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1E2Rg==
					</data>
					<key>Replace</key>
					<data>
					WFE2Rg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_QEC to XQEC (ASUS N56VB Left Assignable Button Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1FFQw==
					</data>
					<key>Replace</key>
					<data>
					WFFFQw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ECOR to XCOR (ASUS N56VB Battery Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUNPUg==
					</data>
					<key>Replace</key>
					<data>
					WENPUg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SMBX to XMBX (ASUS N56VB Battery Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U01CWA==
					</data>
					<key>Replace</key>
					<data>
					WE1CWA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SMB2 to XMB2 (ASUS N56VB Battery Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U01CMg==
					</data>
					<key>Replace</key>
					<data>
					WE1CMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BIFA to XIFA (ASUS N56VB Battery Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QklGQQ==
					</data>
					<key>Replace</key>
					<data>
					WElGQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename Method SMBR to XMBR but not method calls (ASUS N56VB Battery Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					FEsTU01CUgs=
					</data>
					<key>Replace</key>
					<data>
					FEsTWE1CUgs=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename Method SMBW to XMBW but not method calls (ASUS N56VB Battery Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					FEUQU01CVw0=
					</data>
					<key>Replace</key>
					<data>
					FEUQWE1CVw0=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename Method ECSB to XCSB but not method calls (ASUS N56VB Battery Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					FE8aRUNTQgc=
					</data>
					<key>Replace</key>
					<data>
					FE8aWENTQgc=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename Method TACH to XACH but not method calls (ASUS N56VB Battery Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					FEAGVEFDSAk=
					</data>
					<key>Replace</key>
					<data>
					FEAGWEFDSAk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_BIX to XBIX (ASUS N56VB Battery Patch)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0JJWA==
					</data>
					<key>Replace</key>
					<data>
					WEJJWA==
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<false/>
				<key>APSN</key>
				<false/>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<false/>
			</dict>
			<key>NoDynamicExtract</key>
			<true/>
			<key>NoOemTableId</key>
			<true/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>slide=0 dart=0 nv_disable=1 kext-dev-mode=1</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>Latency</key>
		<string>0x00FA</string>
		<key>Type</key>
		<string>0x0903</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>#AddProperties</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Value</key>
				<data>
				b25ib2FyZC0xAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
				<key>Device</key>
				<string>HDA</string>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Value</key>
				<data>
				b25ib2FyZC0xAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>layout-id=3</string>
				<key>Device</key>
				<string>HDA</string>
				<key>Key</key>
				<string>layout-id</string>
				<key>Value</key>
				<data>
				AwAAAA==
				</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>HDA</string>
				<key>Key</key>
				<string>PinConfigurations</string>
				<key>Value</key>
				<data>
				</data>
			</dict>
		</array>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Inject "name" as (data)"#display" to disable graphics drivers on NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>name</string>
				<key>Value</key>
				<data>
				I2Rpc3BsYXkA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "IOName" as "#display" to disable graphics drivers on NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>IOName</string>
				<key>Value</key>
				<string>#display</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus class-code to prevent graphics drivers loading for NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>class-code</string>
				<key>Value</key>
				<data>
				/////w==
				</data>
			</dict>
		</array>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>#ScreenResolution</key>
		<string>1366x768</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>Title</key>
					<string>Windows</string>
					<key>Type</key>
					<string>Windows</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<true/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x01660003</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660003, port 0205</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AgUAAAAEAAAHBAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				AgUAAAAIAAAGAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660003, port 0304</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AwQAAAAEAACBAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				AwQAAAAIAAAGAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660003, port 0406</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BAYAAAAEAACBAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				BAYAAAAIAAAGAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RiV1VCUwNHgA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>
				RiV1VHh4eHgA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, (credit lisai9093, cecekpawon)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQAAdRc=
				</data>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				AQAA6xc=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g710////EA==
				</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g710////Gw==
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>08/08/2017</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP91.88Z.00D7.B00.1708080744</string>
		<key>Board-ID</key>
		<string>Mac-6F01561E16C75D06</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02330101CDDM651H</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xC00DE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0xFFFF</string>
		<key>ProductName</key>
		<string>MacBookPro9,2</string>
		<key>SerialNumber</key>
		<string>C02L41LJDTY3</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
