<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Custom Kext Directories</key>
	<array>
		<string>/Users/Niresh/Downloads/mark-i</string>
		<string>/System/Library/Extensions/AppleHDA.kext/Contents/PlugIns</string>
		<string>/System/Library/Extensions</string>
		<string>/Users/Niresh/Desktop</string>
		<string>/Users/Niresh/Downloads</string>
	</array>
</dict>
</plist>
